<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxZyvnnVRdb07p1atAuzV6HeZIrys2FzU</string>
	<key>GCM_SENDER_ID</key>
	<string>104829179491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleNotesAppClone</string>
	<key>PROJECT_ID</key>
	<string>noteappclone</string>
	<key>STORAGE_BUCKET</key>
	<string>noteappclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104829179491:ios:5af0209e0d0b5dd9d50a56</string>
</dict>
</plist>